<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
   <groups>
   <run>
              <include name = "smoke"></include>
              <exclude name = "regression"></exclude>
            </run>
        </groups>
    <classes>
      <class name="testNgInMaven.C1"/>
      <class name="testNgInMaven.Class2TC1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
